
<!-- <input  type="text" class="form-control" (input)="onUpdateServerName($event)"/> -->
<input  type="text" class="form-control" [(ngModel)]="serverName"/>

<button class="btn btn-primary"
    [disabled] = "!allowNewServer" 
    (click) = "createServer()"> Add Server</button>

    <!-- <p>{{allowNewServer}}</p> -->
    <p [innerText]="allowNewServer"></p>
    <p>Server Creation status is</p>
    <!-- <p> {{serverCreationStatus}}</p> -->
    <p *ngIf  ="serverCreated else noServer">Server is created with name  {{serverName}}</p>
    <ng-template #noServer>
        <p>No Server Was Created</p>
    </ng-template>

<app-server *ngFor ="let server of servers"></app-server>

<p>{{serverName}}</p>
<p *ngFor = "let time of TimeStamps; let i = index"
    [ngStyle] = "{ color: i > 8 ? 'pink' : 'yellow' }"
>{{time}}</p>